body {
    background-color: red;
}
.outerDesign {
    width: 10rem;
    height: 10rem;
    background-color: azure;
    border: .5rem solid blue;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.seconds {
    width: .2rem;
    height: 4.5rem;
    margin-top: 0.5rem;
    background-color: blueviolet;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%,0%);
    transform-origin: bottom center;
    z-index: 2;
}
.minutes {
    width: .6rem;
    height: 4.5rem;
    margin-top: 0.5rem;
    background-color: red;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%,0%);
    transform-origin: bottom center;
    z-index: 1;;
}
.hours {
    width: .6rem;
    height: 4.5rem;
    margin-top: 0.5rem;
    background-color: yellowgreen;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%,0%);
    transform-origin: bottom center;
    z-index: 0;;
}